@page "/fetchdata"
@inject HttpClient Http

<PageTitle>Timestamps</PageTitle>

<h1>Timestamps</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (captions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <a> @captions</a>
}

@code {


private string captions = "";
    protected override async Task OnInitializedAsync()
    {
        //forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");
            captions = await Http.GetStringAsync("http://localhost:7071/api/TimestamperFunctions");
    }
}
